//custom variables
$dark: #191918;

$font-family-sans-serif: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif,
  "Segoe UI Emoji", "Segoe UI Symbol";

$btn-font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif,
  "Segoe UI Emoji", "Segoe UI Symbol";
$btn-font-size: 0.9375rem;
$btn-font-weight: 500;
$btn-padding-x: 14px;
$btn-padding-y: 4px;

$blue: #2383e2;

$gray-100: #fcfbfb;
$gray-200: #f6f5f4;
$gray-300: #dfdcd9;
$gray-400: #a39e98;
$gray-500: #78736f;
$gray-600: #615d59;
$gray-700: #494744;
$gray-800: #31302e;
$gray-900: #191918;

$offcanvas-horizontal-width: 100vw;

$nav-link-padding-y: 0.25rem;

$input-placeholder-color: rgba(70, 68, 64, 0.45);

//import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";
