:root {
  --font-family-sans: "inter", Helvetica, Arial, sans-serif;
  --font-family-serif: Georgia, serif;
  --font-size-50: 0.75rem;
  --font-size-100: 0.875rem;
  --font-size-150: 0.9375rem;
  --font-size-200: 1rem;
  --font-size-300: 1.125rem;
  --font-size-350: 1.25rem;
  --font-size-400: 1.375rem;
  --font-size-500: 1.625rem;
  --font-size-600: 2rem;
  --font-size-700: 2.625rem;
  --font-size-900: 4rem;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-semibold: 700;

  --color-primary: #2383e2;
  --color-primary-subtle: #f0f6fd;
  --color-gray-600: #615d59;
  --color-gray-800: #31302e;
  --color-grey-900: #191918;
  --color-border: #0000001a;
}

.font-serif {
  font-family: var(--font-family-serif);
}

#heroAndBento {
  gap: 2rem;
}

#home-hero {
  margin: 0 auto;
  padding: 2rem 0;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
}

#homepage-header {
  align-items: center;
}

#homepage-header nav {
  justify-content: center;
}

@media (min-width: 1080px) {
  #home-hero {
    padding: 4rem 0;
    flex-direction: row;
  }
  #homepage-header {
    align-items: start;
    text-align: start;
  }
  #homepage-header nav {
    justify-content: start;
  }
}

@media (min-width: 1080px) and (min-height: 720px) {
  #home-hero {
    min-height: 400px;
    height: calc(80vh - 72px);
  }
}

#homepage-header,
#homepage-media {
  flex: 1;
}

#home-hero h1 {
  font-size: var(--font-size-900);
  line-height: 3.5rem;
  max-width: 600px;
}

#home-hero h2 {
  font-size: var(--font-size-200);
  max-width: 450px;
}

@media (min-width: 1080px) {
  #home-hero h2 {
    font-size: var(--font-size-400);
  }
}

#home-hero .btn {
  font-size: var(--font-size-200);
}

#homepage-media img {
  width: 100%;
  aspect-ratio: 1022 / 540;
  object-fit: contain;
  max-height: 240px;
}

@media (min-width: 992px) {
  #homepage-media img {
    max-height: 330px;
  }
}

/* Logo Wall */

.logo-wall-logo {
  max-width: 96px;
}

.logo-wall-logo img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 24px;
  object-fit: contain;
  object-position: center;
}

.logo-wall-logo:nth-of-type(n) {
  display: block;
}

@media (min-width: 768px) and (max-width: 1079px) {
  .logo-wall-logo:nth-of-type(n + 6) {
    display: none;
  }
}

@media (min-width: 1080px) {
  .logo-wall-logo:nth-of-type(6) {
    display: block;
  }
  .logo-wall-logo:nth-of-type(n + 7) {
    display: none;
  }
}

@media (min-width: 1227px) {
  .logo-wall-logo:nth-of-type(n + 7) {
    display: block;
  }
}

/* Bento Cards */

.card:hover {
  background-image: linear-gradient(to top, white, transparent);
}

.card-body header {
  margin: 1.5rem;
}

.card-title h3 {
  font-size: var(--font-size-200);
  font-weight: var(--font-weight-bold);
}

.card-subtitle h2 {
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-medium);
}

.square-icon {
  height: 1.5rem;
  aspect-ratio: 1 / 1;
}

.circle-icon {
  width: 2rem;
  aspect-ratio: 1 / 1;
  text-align: center;
  align-content: center;
  font-weight: var(--font-weight-semibold);
}

#card-projects .card-img-bottom {
  object-fit: cover;
  object-position: left top;
  min-width: 0;
  min-height: 300px;
}

@media (min-width: 992px) {
  #card-projects .card-img-bottom {
    object-fit: contain;
    min-height: 0;
    max-height: 285px;
    min-width: 0;
  }
}

blockquote p {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-400);
}

@media (min-width: 768px) {
  blockquote p {
    font-size: var(--font-size-500);
  }
}
@media (min-width: 992px) {
  blockquote p {
    font-size: var(--font-size-600);
  }
}
@media (min-width: 1200px) {
  blockquote p {
    font-size: var(--font-size-700);
  }
}

blockquote p::before {
  content: open-quote;
}

blockquote p::after {
  content: close-quote;
}

figcaption a:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

#socialProof-container {
  position: relative;
  background: none;
  align-self: center;
  border: none;
  border-radius: 0.75rem;
  margin: 0;
  padding: 0;
  transition: opacity 0.2s;
  cursor: pointer;
}

#socialProof-container:hover {
  opacity: 0.9;
}

.customer-stories-logo {
  max-height: 24px;
  width: auto;
  object-fit: contain;
  object-position: left;
  margin-bottom: 1rem;
}

.customer-stories-table td {
  vertical-align: top;
}

.customer-stories-table a {
  padding-bottom: 24px;
}

.customer-stories-table a:hover {
  color: var(--color-primary);
}

.customer-stories-table span {
  font-size: var(--font-size-100);
  color: var(--color-grey-900);
}
